### Frequency encoder

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import KFold

In [25]:
class freq_encoder():
    
    def __init__(self, colnames):
        
        self.colnames = colnames
    
    def fit(self, X, y=None):
        
        return self
    
    def transform(self,X):
        
        encoded_cols = []
        nsamples = X.shape[0]
        
        for col in self.colnames:
            freqs_cat = X.groupby(col)[col].count()/nsamples
            encoded_col = X[col].map(freqs_cat)
            encoded_col[encoded_col.isnull()] = 0
            encoded_cols.append(pd.DataFrame({'freq_'+col:encoded_col}))
        all_encoded = pd.concat(encoded_cols, axis=1)
        X = pd.concat([X, all_encoded], axis=1)
        return X

##### Пример использования

In [28]:
x = np.array(['a','a','c','a','a','b','b','b','b','b','b','b','b','b'])

X_train = pd.DataFrame({'x':x,})

In [29]:
encoder = freq_encoder('x')
encoder.transform(X_train)

    x    freq_x
0   a  0.285714
1   a  0.285714
2   c  0.071429
3   a  0.285714
4   a  0.285714
5   b  0.642857
6   b  0.642857
7   b  0.642857
8   b  0.642857
9   b  0.642857
10  b  0.642857
11  b  0.642857
12  b  0.642857
13  b  0.642857